@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Blanco puro para dar luz */
    --foreground: 0 0% 7%; /* Gris muy oscuro, no negro puro (más elegante) */
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    
    /* El Rojo "Stylebox" (Acento principal para botones y detalles) */
    --primary: 0 74% 42%; 
    --primary-foreground: 0 0% 100%;
    
    /* Grises de fondo para contrastar secciones (blanco vs gris claro) */
    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;
    
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
    
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 9%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 74% 42%; /* El ring del focus de los inputs es rojo */
    
    /* EL CAMBIO MÁS IMPORTANTE: 0 CURVAS */
    --radius: 0rem; 
  }

  /* Si tu plantilla tiene modo oscuro, lo volvemos "Modo Noche Industrial" */
  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 95%;
    --card: 0 0% 7%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 74% 42%; /* El rojo se mantiene en dark mode */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 95%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 74% 42%;
  }

  /* Forzar la selección de texto */
  ::selection {
    background-color: #C2523A !important;
    color: #FFFFFF !important;
  }
  ::-moz-selection {
    background-color: #C2523A !important;
    color: #FFFFFF !important;
  }

  /* Forzar la barra de scroll apuntando directo al HTML y Body */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    background: #18181b;
  }
  
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background: #C2523A;
    border-radius: 0px;
  }
  
  html::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:hover {
    background: #a3442f;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Forzamos a que todos los títulos usen la fuente Syne */
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }

  @layer utilities {
  /* Clase para crear sliders horizontales limpios en móviles */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

}

